<nav>
  <div class="container">
    <a href="#" class="nav__logo">
      <div class="horizontal-container logo-container">
        <img
          src="https://img.icons8.com/fluency/48/534340/ethereum.png"
          class="logo"
          alt=""
        />
        <div class="container">
          <h3>BLOCK SAFE</h3>
        </div>
      </div>
    </a>
    <ul id="nav__items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/signin">Sign In</a></li>
      <li>
        <a href="/upload" class="btn">Upload Certificate</a>
      </li>
    </ul>
  </div>
</nav>
