<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Block Safe | <%= title %></title>
  <link rel="stylesheet" href="css/styles.min.css" />
</head>

<body>
  <div class="contact-form signin-container" id="file-upload">
    <h1>File Uploaded!</h1>
    <p>Directory: <%= dir.dir_name%> </p>
    <%for(const file of dir.files) { %>
    <p>File Name: <%= file.name %></p>
    <% } %>

  </div>
</body>

</html>