<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Project</title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <%- include("./partials/navbar.ejs") %>

    <header class="signin-header">
      <div class="signin-container">
        <form
          class="signin-form"
          action="upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <h3><span>UPLOAD FILE</span></h3>
          <div class="vertical-container">
            <label for="fileName">File Name</label>
            <input type="text" name="fileName" />
          </div>
          <div class="vertical-container">
            <label for="file">Upload a File</label>
            <input type="file" name="file" />
          </div>
          <input type="submit" value="submit" class="btn" />
        </form>
      </div>
    </header>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
