<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Project</title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <header class="signin-header">
      <div class="signin-container">
        <form class="signin-form" action="">
          <h3><span>UPLOAD FILE</span></h3>
          <div class="vertical-container">
            <label for="file-name">File Name</label>
            <input type="text" name="file-name" />
          </div>
          <div class="vertical-container">
            <label for="file-upload">Upload a File</label>
            <input type="file" name="file-upload" />
          </div>

          <input type="submit" value="Submit" class="btn" />
        </form>
      </div>
    </header>
  </body>
</html>
