<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/favicon.ejs") %>

    <title>Block Safe | <%= title %></title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <header>
      <div class="container">
        <div class="header__content">
          <h1>
            Complete Decentralized Solution for your certificates and documents
          </h1>
          <p>
            We use <strong>Crust</strong> to store the certificates in a
            decentralised storage. <strong>Polygon</strong> boost the
            scalability of the decentralised crust architecture.
            <strong>NFTs </strong>for each document to retain the validity and
            authenticity of the documents.
          </p>
          <a href="/" class="btn">Upload Certificate</a>
        </div>
        <div class="header__image">
          <img
            src="https://img.icons8.com/external-glyph-wichaiwi/1024/534340/external-blockchain-non-fungible-token-glyph-wichaiwi-2.png"
          />
        </div>
      </div>
    </header>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
